{
    "root": true,
    "extends": ["@frontify/eslint-config-react"],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.node.json"],
    },
}
